.vs/AgnostiQ_BI.slnx/copilot-chat/20be24ed/sessions/d0f15516-3d12-4355-acb4-a8f9a4ee03b1
/.vs/AgnostiQ_BI.slnx/DesignTimeBuild
.vs/AgnostiQ_BI.slnx/FileContentIndex/30794b7c-163a-44ab-a89d-ba84b80e49c7.vsidx
.vs/AgnostiQ_BI.slnx/FileContentIndex/3cbe64a3-f7c9-4425-b39a-8b653c4fa05d.vsidx
*.vsidx
/.vs/AgnostiQ_BI.slnx/v18
.vs/AgnostiQ_BI/CopilotIndices/18.10.1189.45219/SemanticSymbols.db
